body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}
.rowFrame {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.top {
    height: 10%;
    border: 1px solid black;
}
.middle {
    flex: 1;
    display: flex;
    overflow: hidden; 
}
.bottom {
    height: 5%;
    border: 1px solid black;
}
.left {
    width: 25%;
    border: 1px solid black;
    overflow: hidden; 
}
.center {
    flex: 1;
    border: 1px solid black;
}

.right {
    flex: 1;
    border: 1px solid black;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}


