span {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5mm;
    background-color: white;
 }
 
 body{
    margin-top: 10%;
    padding: 0;
    font-family: "Monteserrat", sans-serif;
    
 }
 
 .mgs {
    position: relative;
    display: grid;
    float: left;
    margin-right: 10px;
    opacity: 80%;
 }


.mgs-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.mgs img {
    width: 100%;
    height: 900px;
    object-fit: cover;
    margin-right: 10px;
    flex-shrink: 0;
}
 
 
 .mgs:hover {
    animation-name: mgs;
    animation-duration: 1.5s;
    opacity: 100%;
 }
 
 
 .mgs .mgs-text {
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 100%;
    background-color:  #0E100F;
    color: white;
    width: 100%;
    opacity: 0%;
 }
 
 
 .mgs:hover .mgs-text {
    animation-name: texto;
    animation-duration: 1.5s;
    opacity: 100%;
 }

 
 @keyframes mgs {
    from {
        opacity: 80%;
    }
    to {
        opacity: 100%;
    }
 }
 
 
 @keyframes texto {
    from {
        opacity: 0%;
    }   
    to {
        opacity: 100%;
    }
 }
 