/*
Estilos de navegación
*/
nav {
    background-color: blue;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

nav a {
    color: white;
    text-decoration: none;
    background-color: cornflowerblue;
    display: block;
}

nav ul {
    list-style: none;
}