header{
    background-color: black;
    display: block;
    color: white;
    font-family: serif;
}

header h1 {
    background-color: black;
    text-align: center;
}

header nav {
    background-color: rgb(74, 74, 74);
    color: white;
    float: left;
    display: block;
    width: 15%;
    height: 40px;
    margin-left: 80px;
    text-align: center;
}






